Source: ndn.cxx-security-tools
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0), 
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndn.cxx-dev (>= 0.2~rc1),
 ndnx-dev (>= 0.2~rc1),
 libcrypto++-dev (>= 5.6.1),
 libboost-system1.48-dev (>= 1.48.0), libboost-iostreams1.48-dev (>= 1.48.0),
 libboost-date-time1.48-dev (>= 1.48.0), libboost-regex1.48-dev (>= 1.48.0), 
 libboost-program-options1.48-dev (>= 1.48.0)
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/named-data/ndnx.cxx-security-tools
Vcs-Git: git://github.com/named-data/ndnx.cxx-security-tools.git
Vcs-Browser: http://github.com/named-data/ndnx.cxx-security-tools

Package: ndn.cxx-security-tools
Section: net
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools to work with public, private keys and NDN certificates
